---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="About">   
    <div class="text-white">
        <h1 class="text-5xl">Sobre la página</h1>
        <p>Welcome to the About page! This page is dedicated to providing information about our company and what we do.</p>
        <p>Feel free to explore the different sections and learn more about our team, our mission, and our values.</p>
    </div>
</Layout>
