---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import DropArea from '../components/DropArea.astro';
---

<Layout title="Welcome to The Jungle">
	<main>
		<DropArea />
		<DropArea />
	</main>
</Layout>