---
console.log("Mi primera Chamba");
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo -->
        <div class="text-2xl font-bold">
          <span class="text-blue-500">Iam</span>You 🥽 
        </div>
  
        <!-- Navigation -->
        <nav class="space-x-4">
          <a href="/" class="hover:text-blue-500">Inicio</a>
          <a href="/about" class="hover:text-blue-500">Acerca de</a>
          <a href="/galery" class="hover:text-blue-500">Galería</a>
          <a href="/contact" class="hover:text-blue-500">Contacto</a>
        </nav>
      </div>
</header>